---
import Posts from '../components/Posts.astro'
import BaseLayouts from '../layouts/BaseLayouts.astro'

const pageTitle = '博客'
---
<BaseLayouts pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<h2>我的博客</h2>
	<Posts />
</BaseLayouts>